h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif
}

p, span, a, li, button {
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #004f88;
    border-bottom: 2px solid #ddd;
    color: white;
}

header img {
    width: 100px;
    height: 120px;
    object-fit: cover;
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    position: relative;
    height: 2rem;
    padding: 0 0 1rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    font-weight: bold;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

/* --- Responsive Nav --- */

@media (max-width:768px) {
    nav{
        color: transparent;
    }
    nav ul {
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        padding: 0;
        gap: 0;
        text-align: center;
        flex-direction: column;
        background-color: black;
        overflow: hidden;
    }
    nav ul li {
        padding: 1rem;
    }
    .menu-icon{
        display: block;
    }
    #menuList {
        transition: all 0.5s;
    }
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
}


/* --- Grid --- */

.grid-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 7fr 5fr;
}

.course-work {
    text-align: center;
}

.location {
    text-align: center;
}

.certificate {
    text-align: center;
    grid-column: span 3;
}

.location img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.filters {
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.filters button {
    padding: 0.5rem 3.5rem;
    margin-bottom: 1rem;
    font-size: small;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #005fa3;
}
.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }
    .certificate {
        grid-column: span 1;
    }

    .courses {
        flex-direction: column;
        width: 90%;
    }
}

.course-work h2,
.location h2,
.certificate h2 {
    background-color: #004f88;
    color: white;
}

section {
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.course-work ul {
    padding: 2rem;
}

.courses button {
    padding: 1rem 4rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.courses button:hover {
    background-color: #005fa3;
}

.course-btn.completed {
    background-color: green;
}

.course-btn.incompleted {
    background-color: crimson;
}

.credits {
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004f88;
    color: white;
}

footer .myName::after,
footer .myName::before {
    content: "🥝";
}

#lastModified {
    font-size: small;
    color: yellow
}


/* --- Modals --- */

dialog {
    border: 1 px solid black;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}